
*.pyc
*.csh
*.fish
006_pytest_qt_GUI_testing/testing_qt/bin/pip
006_pytest_qt_GUI_testing/.DS_Store
006_pytest_qt_GUI_testing/testing_qt/bin/activate
*.cfg
*.txt
*.tmpl
*.xml
*.typed
*.pyi
*.so
*.exe
*.qm
*.qmltypes
*.dylib
*.js
*.qml
*.png
*.metainfo
*.mesh
*.qmlc
*.ttf
*.jsc
*.plist
*.api
*.sip
*.toml
*.BSD
*.BSD
*.APACHE
*.pem
*.pem
*.pth
*.rst
*.test
*.9
*.ps1
006_pytest_qt_GUI_testing/testing_qt/bin/pyuic5
006_pytest_qt_GUI_testing/testing_qt/bin/python3
006_pytest_qt_GUI_testing/testing_qt/bin/python
006_pytest_qt_GUI_testing/testing_qt/bin/pytest
006_pytest_qt_GUI_testing/testing_qt/bin/pyrcc5
006_pytest_qt_GUI_testing/testing_qt/bin/pylupdate5
006_pytest_qt_GUI_testing/testing_qt/bin/pip3
